*{
    margin: 0;
    padding: 0;
}


/* nav design */
.header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: cover;
}


/* shared style 

.btn{
color: WHITE;
    background-color:#4E47FF ;
    margin: 20px;
    padding: 5px 30px;
    border: 0px;
    border-radius: 10px;

     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



*/

.fonts{
    background-color: #F5F8FF;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50pX 150px;
}

.logo{

  font-size: 34px;
  font-weight: 900;
    color: #4E47FF;
    
}

.btn{
    color: WHITE;
    font-weight: 600;
    background-color:#4E47FF ;
    margin: 5px;
    padding: 10px 45px;
    border: 0px;
    border-radius: 10px;
    margin-top: -10px;

    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

/* banner section */

.banner{
    text-align: center;
    border: 1px;
    border-color: black;
    min-height: 420px;
}
.banner h1{
    padding: 100px 200px 30px;
    font-size: 55px;
}

/* mid section */

.midcontent{
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
}

.leftcontent{

    align-items: center;
    padding-top: 100px;

}

.leftcontent h2{
    font-size: 42px;
}
.leftcontent p{
    font-size: 16px;
    color: rgba(0, 0, 0, 50%);
    font-weight: 200;
    padding-bottom: 15px;
}

.btn1{
    color: WHITE;
    background-color:#4E47FF ;
    padding: 8px 30px;
    border: 0px;
    border-radius: 10px;
}

.rightcontent img{
    border-radius: 48px;

}

/* Users section    */

.users{
 display: flex;
 justify-content: center;
  padding: 50px 150px;

  

 

}
.boxusers{
    background-color: #E5E7FF;
    width: 80%;
    padding: 50px 100px;
     border-radius: 20px;


}
.boxusers h2{ 
 padding-left: 70px;
 font-size: 34px;

}

.innercontent{
    display: flex;
    justify-content: center;
    
}

.innerusers{
    padding: 10px 70px;

}
.innerusers p{
    color: rgba(0, 0, 0, 50%);
    font-size: 16px;
    padding-left: 20px;
}

.innerusers h1{
    color: #4E47FF;
    font-size: 80px;
}




/* Review section */

.review{
    padding-bottom: 50px;
}
.texttop h1{
    padding-top: 30px;
 
}

.review h1{
    text-align: center;
}

.cards{
 
    display: flex;
    margin: 0 150px;
    padding: 30px 0;
    
}


.reviewer{
    display: flex;

}
.reviewer img{
    border-radius: 60px;
}

.reviewer h4{
    margin-left: 8px;
    margin-top: 5px;
    font-size: 12px;
    opacity: 60%;

}

.ptag{
    margin-left: 50px;
    margin-top: -18px;
    opacity: 50%;
}

.startext{
    margin-right: 20px;
       background-color: white;
       padding: 20px 30px;
       border-radius: 14px;
}
.startext h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.startext p{
    font-size: 12px;
    opacity: 80%;
    padding-bottom: 20px;
}


/* banner like  */

.midcontent1{
    background-color: white;
    width: 75%;
    margin-left: 150px;
    border-radius: 14px;
    padding-bottom: 40px;

}


.topcontent{
    text-align: center;
    padding: 30px;

}
.topcontent h2{
    font-size: 40px;
    padding-bottom: 10px;
}
.topcontent p{
    font-size: 12px;
    opacity: 50%;
    padding-bottom: 15px;
}

.bottomcontent{
    text-align: center;
}
.bottomcontent img{
    width: 70%;
    border-radius: 48px;
}

/* form design */

.form{
    display: flex;
    margin: 0 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 75px;
}

.formleft{ 
    width: 50%;
}

.formleft h2{
    padding-top: 50px;
    font-size: 80px;
}

.form input[type="email"]{
    padding-left: 15px;
    padding-right: 100px;
    background-color: #fff;
    border: 0px;
    height: 34px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.form input[type="text"]{
    padding-left: 15px;
    padding-right: 100px;
    background-color: #fff;
    border: 0px;
    height: 34px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form textarea{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 100px;
    background-color: #fff;
    border: 0px;
    height: 100px;
    border-radius: 5px;
    display: block;
    width: 100%;
}
.btnsubmit{
    font-size: 12px;
    color: WHITE;
    background-color:#4E47FF ;
    margin-top: 10px;
    padding: 8px 30px;
    border: 0px;
    border-radius: 6px;
    width: 142%;

}

/* footer desing */
.footer{
    text-align: center;
    background-color: #fff;
    padding: 100px;
}
.flogo h1{
     font-size: 80px;
    color: #4E47FF;

}
.flogo p{
    font-size: 12px;
    opacity: 60%;
}

.fmenu ul{
    display: flex;
    padding: 20px 0;
    padding-left: 400px;
    

}

.fmenu ul li{
    font-size: 12px;
    padding-right: 30px;
    list-style: none;

}
.fmenu ul li a{
    text-decoration: none;
    color: black;
    opacity: 60%;

}


