*{
    margin: 0;
    padding: 0;
}


/* nav design */
.header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: cover;
}


/* shared style 

.btn{
color: WHITE;
    background-color:#4E47FF ;
    margin: 20px;
    padding: 5px 30px;
    border: 0px;
    border-radius: 10px;

     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



*/

.fonts{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50pX 150px;
}

.logo{

  font-size: 34px;
    color: #4E47FF;
    
}

.btn{
    color: WHITE;
    background-color:#4E47FF ;
    margin: 5px;
    padding: 8px 30px;
    border: 0px;
    border-radius: 10px;

    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

/* banner section */

.banner{
    text-align: center;
    border: 1px;
    border-color: black;
    min-height: 420px;
}
.banner h1{
    padding: 100px 200px 30px;
    font-size: 55px;
}




